.join {
  @extend .absolute;
  @extend .flex-center;

  &-form {
    @extend .clickable;

    font-family: 'Roboto-Bold', sans-serif;
    padding: 20px 40px;
    border-radius: 3px;
    background: linear-gradient(45deg, #297b76eb, #8a007a);
    pointer-events: all;

    &__input {
      border-radius: 3px;
      padding: 4px 8px;
      margin: 0 auto 30px auto;
    }

    &__submit {
      @extend .submit-btn;
    }
  }

  &-radio {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    @media screen and #{$phone} {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      grid-gap: 10px;
    }

    &__label {
      padding: 4px 8px;
      color: #3333deb8;
      background-color: orange;
      border: 2px solid #0000ff4f;
      border-radius: 4px;
      cursor: pointer;
      text-align: center;
      text-transform: uppercase;
      @extend .onTap;

      opacity: 0.85;
      filter: contrast(1.2);
      transform: scale(0.95)
    }

    &__btn {
      @extend .invisible;

      &:checked + label {
        opacity: 1;
        filter: contrast(1);
        transform: scale(1)
      }
    }
  }
}
