.ps {
  &-red {
    background-color: red;
  }

  &-cyan {
    background-color: cyan;
  }

  &-green {
    background-color: green;
  }

  &-blue {
    background-color: blue;
  }

  &-yellow {
    background-color: yellow;
  }

  &-black {
    background-color: black;
  }

  &-pink {
    background-color: pink;
  }

  &-violet {
    background-color: violet;
  }
}

.style {
  @extend .absolute;
  @extend .flex-center;

  &__form {
    width: 100%;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 20px 0;

    &__item {
      width: 50%;
      padding-top: 50%;
      position: relative;
      z-index: 1;

      /*left*/
      &:nth-of-type(1),
      &:nth-of-type(6) {
        grid-column: 1 / span 2;
      }

      /*center*/
      &:nth-of-type(2),
      &:nth-of-type(7) {
        grid-column: 3 / span 2;
      }

      /*right*/
      &:nth-of-type(3),
      &:nth-of-type(8) {
        grid-column: 5 / span 2;
      }

      /*center-left*/
      &:nth-of-type(4) {
        width: 25%;
        padding-top: 25%;
        grid-column: 1 / span 4;
        grid-row: 2 / 3;
      }

      /*center-right*/
      &:nth-of-type(5) {
        width: 25%;
        padding-top: 25%;
        grid-column: 3 / span 4;
        grid-row: 2 / 3;
      }
    }

    &__veil {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__radio {
    &:checked + label {
      box-shadow: 0 0 8px 2px #FFD700;
      @extend .onTap;
    }
  }

  &__label {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
  }

  &__submit {
    @extend .submit-btn;

    margin: auto;
    width: 30%;
    height: 60%;
    grid-column: 3 / span 2;
    grid-row: 2 / 3;
    position: relative;
    z-index: 1;
  }
}
