.ps {
  &-red {
    background-color: red;
  }
  &-cyan {
    background-color: cyan;
  }
  &-green {
    background-color: green;
  }
  &-blue {
    background-color: blue;
  }
  &-yellow {
    background-color: yellow;
  }
  &-black {
    background-color: black;
  }
  &-pink {
    background-color: pink;
  }
  &-violet {
    background-color: violet;
  }
}