//Roboto
@font-face {
  font-family: Roboto-Regular;
  src:  url('../fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: $font-weight-regular;
  font-style: normal;
}
@font-face {
  font-family: Roboto-Bold;
  src:  url('../fonts/Roboto-Bold.ttf') format('ttf');
  font-weight: $font-weight-bold;
  font-style: normal;
}
//RobotoSlab
@font-face {
  font-family: RobotoSlab-Light;
  src:  url('../fonts/RobotoSlab-Light.ttf') format('ttf');
  font-weight: $font-weight-light;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab-Regular;
  src:  url('../fonts/RobotoSlab-Regular.ttf') format('ttf');
  font-weight: $font-weight-regular;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab-Bold;
  src:  url('../fonts/RobotoSlab-Bold.ttf') format('ttf');
  font-weight: $font-weight-bold;
  font-style: normal;
}
//Oswald
@font-face {
  font-family: Oswald-Light;
  src:  url('../fonts/Oswald-Light.ttf') format('ttf');
  font-weight: $font-weight-light;
  font-style: normal;
}
@font-face {
  font-family: Oswald-Regular;
  src:  url('../fonts/Oswald-Regular.ttf') format('ttf');
  font-weight: $font-weight-regular;
  font-style: normal;
}
@font-face {
  font-family: Oswald-Bold;
  src:  url('../fonts/Oswald-Bold.ttf') format('ttf');
  font-weight: $font-weight-bold;
  font-style: normal;
}
//Open-Sans
@font-face {
  font-family: OpenSans-Light;
  src:  url('../fonts/OpenSans-Light.ttf') format('ttf');
  font-weight: $font-weight-light;
  font-style: normal;
}
@font-face {
  font-family: OpenSans-Regular;
  src:  url('../fonts/OpenSans-Regular.ttf') format('ttf');
  font-weight: $font-weight-regular;
  font-style: normal;
}
@font-face {
  font-family: OpenSans-Semibold;
  src:  url('../fonts/OpenSans-Semibold.ttf') format('ttf');
  font-weight: $font-weight-semi-bold;
  font-style: normal;
}
@font-face {
  font-family: OpenSans-Bold;
  src:  url('../fonts/OpenSans-Bold.ttf') format('ttf');
  font-weight: $font-weight-bold;
  font-style: normal;
}