//Input-Appear
.input-enter-active {
  animation: input-appear 0.25s;
}

.input-leave-active {
  animation: input-appear 0.25s reverse;
}

@keyframes input-appear {
  0% {
    height: 0;
    opacity: 0;
  }
  60% {
    height: auto;
    opacity: 0;
    transform: translateY(3px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

//Appear
@keyframes arrise {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    transform: translateY(6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.cards-view-enter-active {
  animation: arrise 0.25s;
}
.cards-view-leave-active {
  animation: arrise 0.25s reverse;
}

//Slow
.slow-visible-enter-active, .slow-visible-leave-active {
  transition: all 0.25s;
  & .cards-view__bg {
    transition: all 0.25s
  }
}

.slow-visible-enter, .slow-visible-leave-to {
  & .cards-view__bg {
    opacity: 0;
  }
}
.slow-visible-enter-to, .slow-visible-leave {
  & .cards-view__bg {
    opacity: 0.6;
  }
}