@import './variables';
@import './animation';
@import './mixins';
@import './fonts';

h1 {
  font-family: 'Roboto-Bold', sans-serif;
  @extend .font-big;
}
button {
  display: block;
  width: 50px;
  height: 50px;
  background-color: orange;
}
.invisible {
  height: 0;
  visibility: hidden;
  position: absolute;
}

.ps {
  &-red {
    background-color: red;
  }
  &-cyan {
    background-color: cyan;
  }
  &-green {
    background-color: green;
  }
  &-blue {
    background-color: blue;
  }
  &-yellow {
    background-color: yellow;
  }
  &-black {
    background-color: black;
  }
  &-pink {
    background-color: pink;
  }
  &-violet {
    background-color: violet;
  }
}