//MAIN
@import './variables';
@import './fonts';
@import './mixins';
@import './animation';

//Parts
@import 'parts/index';

//MODULES
@import './modules/background.scss';
@import './modules/leader-board.scss';
@import './modules/join-page.scss';
@import './modules/player-style.scss';
@import './modules/game.scss';
@import './modules/cards.scss';
@import './modules/preview.scss';

h1 {
  @extend .font-big;
}

body {
  @extend .font-base;

  & label, & input, & button, & img, & form, & div, & section, & article, & main {
    display: block;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
  }

  font-family: 'Roboto-Bold', sans-serif;
  margin: 0;
}


